.container {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
}

.allboxes {
  background-color: white;
  min-width: 200px;
  max-width: 26%;
  min-height: 150px;
  max-height: 475px;
  padding: 3%;
  margin: 1%;
  text-align: center;
}

.text {
  text-align: left;
  padding: 5%;
}

.text p {
  padding-top: 3%;
  padding-bottom: 3%;
}

.box1 {
  margin-left: 0;
}

.box3 {
  margin-right: 0;
}

.box2 .text {
  padding-top: 65px;
}

.box2 span {
  background-color: red;
}

.link {
  color: #debf79;
  text-decoration: none;
  font-size: 20px;
}

@media screen and (max-width: 855px) {
  .allboxes {
    max-width: 90%;
    overflow: scroll;
  }

  .wrapper {
    height: auto;
    position: absolute;
  }

  .box1 {
    margin-left: 1%;
  }
}
